.posts {
    background-color: rgb(76, 128, 115);
    padding: 15px;
    /* margin-bottom: 20px; */
    width: 200px;
    height: 200px;
    border-radius: 9px;
    position: relative;
    color: white;

}

.post-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.overlay {
    position: fixed;
    left: 400px;
    top: 100px;
    width: 400px;
    height: 400px;
    background-color: rgba(10, 10, 10, 0.671);
    display: none;
    color: white;
}

.overlay.active {
    display: block;
}

#close {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.view-btn {
    position: absolute;
    bottom: 17px;
    right: 5px;
    border-radius: 12px;
    background-color: rgba(127, 255, 212, 0.603);
    cursor: pointer;
    border: 1px solid rgb(6, 63, 32);
}

.view-btn:hover {
    background-color: rgb(6, 63, 32);
    color: white;
}